@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --brand-color: #191919;
  --bold-main-color: #725a58;
  --accent-color: #e3b6b1;
  --light-pink: #fae9e7;
  --light-pale-white: #f8f6f4;
  --light-paper-white: #fbfafa;
  --light-mid-grey: #a3a3a3;
  --dark-grey: #535353;
  --dark-black: #191919;
  --dark-pink: #e3b6b1;
  --dark-brown: #f8f6f4;
  --inter-font: "Inter", sans-serif;
  --Baskervville-font: "Baskervville", cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--inter-font);
}

/* Footer begin*/

footer {
  width: 100%;
  height: 100%;
  background-color: var(--dark-brown);
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

footer .logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  gap: 1rem;
}

footer .logo-container img {
  width: 125.6px;
  height: 118.51px;
}

footer .contact-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.footer-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-nav ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  max-width: 1400px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  gap: 1rem;
  justify-items: center;
  text-align: center;
  border-top: 1px solid var(--dark-black);
  border-bottom: 1px solid var(--dark-black);
  padding: 1rem 0;
}

.footer-nav ul li a {
  font-size: 20px;
  font-family: var(--Baskervville-font);
  color: var(--bold-main-color);
  font-weight: 400;
  text-decoration: none;
}

footer .copyright {
  display: flex;
  align-items: center;
  color: var(--bold-main-color);
  font-size: 14px;
  text-align: center;
  justify-content: center;
  font-weight: 300;
}

/* Medium screens (e.g. tablets) */
@media (max-width: 900px) {
  .footer-nav ul {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 600px) {
  .footer-nav ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .footer-nav ul {
    grid-template-columns: 1fr;
  }
}

/* Footer end*/
